@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --card: #ffffff;
  --card-foreground: #000000;
  --background: #f3f4f6;
  --ring: #3b82f6;
}

body {
  background-color: var(--background);
} 